{% extends 'base.html' %}


{% block icerik %}
    <div class="row ">
        <div class="col-lg-12">
            <div class="col-lg-8 pull-center">
                <h2 class="page-header">Parola sıfırlama gönderildi</h2>
                <p>Eğer girdiğiniz e-posta ile bir hesabınız varsa, parolanızın ayarlanması için size talimatları
                    e-posta ile gönderdik. En kısa sürede almalısınız.
                </p>
                <p>Eğer bir e-posta almadıysanız, lütfen kayıt olurken girdiğiniz adresi kullandığınızdan emin olun ve
                    istenmeyen mesajlar klasörünü kontrol edin.

                </p>
            </div>
        </div>
    </div>

{% endblock %}