{% extends 'base.html' %}


{% block icerik %}
    <div class="row ">
        <div class="col-lg-12">
            <div class="col-lg-8 pull-center">

                {% if validlink %}
                    <h3 class="page-header">Yeni Parolayı Girin</h3>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn-block btn btn-default" type="submit">Parolayı değiştir</button>
                    </form>
                {% else %}
                    <p>
                        Lütfen yeni parolanızı iki kere girin böylece böylece doğru olarak yazdığınızı doğrulayabilelim.
                    </p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}