{% extends 'base.html' %}

{% load static %}


{% block title %}
{{ post.title }} Update
{% endblock %}


{% block ust_icerik %}


{% endblock %}
{% block icerik %}


    <div class="post-create row ">

        <div class="col-lg-12 pull-center">
            <div class="col-lg-8 col-lg-offset-2">

                <h1 class="page-header">Post Create</h1>

                <div class="show-form">
                    <form id="step-1-form" action="{% url 'post-update' blog.slug %}" enctype="multipart/form-data"
                          method="post">

                        {{ form.media }}
                        {% csrf_token %}

                        {% for field in form %}
                            {{ field.label }}
                            {{ field }}
                        {% endfor %}
                        <br><br>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-12">
                                    <input type="submit" value="Oluştur"
                                           class=" btn pull-right btn-sm btn-success">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>


{% endblock %}