{% extends 'base.html' %}


{% block title %}
    Blog
{% endblock %}

{% block icerik %}

    <div class="row">
        <div class="col-lg-12 ">
            <div class="post col-lg-8 col-lg-offset-2">
                {% for post in posts %}
                    <h2><a href="{{ post.get_absolute_url }}"><span>{{ post.title }}</span></a></h2>
                    {% if post.get_image %}
                        <img class="img-responsive" src="{{ post.get_image }}">
                    {% endif %}
                    <p><b><span class="glyphicon glyphicon-user"></span>
                        Yazar <a href="{% url 'user-profile' post.author.username %}">{{ post.author.username }}</a></b>
                    </p>

                    <p style="font-size: large;margin-top:20px;">{{ post.content|safe|truncatewords:50 }}</p>

                {% endfor %}
            </div>
        </div>
    </div>



{% endblock %}