{% extends 'base.html' %}



{% block icerik %}
    <br>
    <br>
    <div class="row">
        <div class="col-lg-12 pull-center">
            <div class="camp">

                {% for camp in camps %}
                    <div class="col-lg-3 pull-left">
                        {% if camp.get_image %}
                            <img width="275" height="208" class="img-responsive" src="{{ camp.get_image }}" alt="">
                        {% endif %}

                        <h3><a href="{% url 'camp-detail' camp.slug %}"> {{ camp.title }}</a></h3>

                        <p> Başlangıç tarihi: {{ camp.starter_date }}</p>

                        <p>Etkinliği oluşturan: <a href="/auths/{{ camp.user }}"> {{ camp.user }}</a></p>


                        {% if camp.status == 'yayında' %}
                            <span class="text-info"> {{ camp.get_participant_count }} Kişi katıldı</span> <br>
                            <span class="text text-success"><b>{{ camp.kalan_katilimci }}</b> Kişi katılabilir  </span>

                        {% elif camp.status == 'başladı' %}
                            <span class="text-primary"> {{ camp.get_participant_count }} Kişi bu kampın tadını çıkartıyor</span>
                            <br>

                        {% endif %}


                    </div>
                {% endfor %}
            </div>
        </div>
    </div>



{% endblock %}