{% extends 'base.html' %}

{% load static %}


{% block title %}
    Camp Create
{% endblock %}


{% block ust_icerik %}


    <script type="text/javascript">


        $(document).ready(function () {


            var url = "{% url 'camp-create' %} ";
            $.ajax({
                url: url,
                method: "POST",
                dataType: 'json',
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function (data) {
                    $(".show-form").html(data.html);
                }
            });

            $(".camp-create").on('click', '#step1', function (e) {
                var step = "step1";
                e.preventDefault();
                var url = "{% url 'camp-create' %} ";
                var title = $('#step-1-form .form-control').closest('#title').val();
                var content = $('#step-1-form .form-control').closest('#content').val();
                var starter_date = $('#step-1-form .form-control').closest('#starter_date').val();
                var starter_time = $('#step-1-form .form-control').closest('#starter_time').val();
                var location = $('#step-1-form .form-control').closest('#location').val();
                var size = $('#step-1-form .form-control').closest('#size').val();
                console.log('title: ', title, 'content: ', content);

                $.ajax({
                    url: url,
                    method: "POST",
                    dataType: 'json',
                    data: {
                        'step': step,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function (data) {

                    }

                })
            });
        });
        $('#datetimepicker1').datetimepicker({
            format: "DD.MM.YYYY"
        });
    </script>


{% endblock %}
{% block icerik %}


    <div class="camp-create row">
        <div class="col-lg-6 col-lg-offset-3">
            <h1 class="page-header">Post Create</h1>

            <div class="show-form">

            </div>

        </div>
    </div>


{% endblock %}