{% extends 'base.html' %}

{% load static %}


{% block title %}
    Camp Create
{% endblock %}


{% block ust_icerik %}


    <script type="text/javascript">


        $(document).ready(function () {


            var url = "{% url 'camp-create' %} ";
            $.ajax({
                url: url,
                method: "POST",
                dataType: 'json',
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function (data) {
                    $(".show-form").html(data.html);
                }
            });

            $(".camp-create").on('submit', '#step-1-form', function (e) {

                $.ajax({
                    url: '{% url 'camp-create-save' %}',
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},

                    success: function (data) {
                        console.log(data);
                    }
                });

            });


        });

    </script>


{% endblock %}
{% block icerik %}


    <div class="camp-create row">
        <div class="col-lg-6 col-lg-offset-3">
            <h1 class="page-header">Post Create</h1>

            <div class="show-form">

            </div>

        </div>
    </div>


{% endblock %}